<nav id="navbar" class="navbar">
  <div class="navbar__logo">H</div>
  <ul class="navbar__lista">
    <li class="navbar__lista__opcion">
      <a href="/" class="navbar__lista__opcion__link">{{ inicioTitle }}</a>
    </li>
    <li class="navbar__lista__opcion">
      <a href="/nosotros" class="navbar__lista__opcion__link">{{
        nosotrosTitle
      }}</a>
    </li>
    <li class="navbar__lista__opcion">
      <a href="/servicios" class="navbar__lista__opcion__link">{{
        serviciosTitle
      }}</a>
    </li>
    <li class="navbar__lista__opcion">
      <a href="/proyectos" class="navbar__lista__opcion__link">{{
        proyectosTitle
      }}</a>
    </li>
    <li class="navbar__lista__opcion">
      <a href="/contacto" class="navbar__lista__opcion__link">{{
        contactoTitle
      }}</a>
    </li>
  </ul>

  <div>
    <button id="btnLogout" class="btn btn-primary">logout</button>
  </div>
</nav>

<div class="btn-menu-content" >
  <button>MENU</button>
</div>