@import url("Navbar.breakpoint.css");

.btn-menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  height: 89vh;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.navbar__logo img {
  width: 30%;
}

.navbar__lista {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navbar__lista__opcion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: solid 0.5px var(--primary-color);
}

.navbar__lista__opcion__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
}

.navbar__lista__opcion__link:hover {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: ease-in-out 0.3s;
  animation: moveBg 5s infinite linear;
}

.navbar__lista__opcion__link:active {
  background-color: var(--primary-color);
  color: var(--text-color-secundary);
  filter: brightness(1.3);
}

.navbar__darkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

@keyframes moveBg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

